nav{
  width: 100%;
  list-style: none;
  display: flex;
  background-color:black;
  justify-content: space-between;
}
nav ul{
  display: flexbox;
  justify-content: flex-end;
}
nav li{
  height: 50px;
  display: flex;
  float: left;
  flex-direction: row;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav  a:hover{
  background-color: rgba(27, 247, 247, 0.103);
}

.active{
  border: aqua solid 1px;
  border-top: none;
  border-bottom: none;
  background-color: rgb(1, 32, 32);;
}
nav li:first-child{
  margin-right: auto;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0%;
  width: 250px;
  z-index: 999;
  background-color: rgba(47, 79, 79, 0.418);
  backdrop-filter: blur(10px);
  box-shadow: -3px 0 white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: none;
  height: 100%;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.sidebar li:first-child{
  background-color: darkslategray;
}
.menubutton{
  display: none;
}

.logo img{
  width: 50px;
  height: auto;
}

@media(max-width:1100px){
  .hideonmobile{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .menubutton{
    display: block;
  }
}

@media(max-width:600px){
  .sidebar{
    width: 100%;
    right: 0;
  }
}