/* General Body Styles */
body {
    background-color: black;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
  }
  maek{
    color: white;
    background-color: orangered;
  }
  
  /* Card Styles */
  .card {
    color: white;
    border-top: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 128, 128, 0.13);
  }
  
  /* Input Styles */
  input {
    width: max-content;
    padding: 2px;
  }
  
  /* Button Styles */
  button {
    color: black;
    border: 1px solid aqua;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
  button:hover {
    border-color: orangered;
    background-color: black;
    color: aqua;
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse; /* Collapse table borders */
  }
  
  th, td {
    border: 1px solid aqua;
    text-align: center;
    padding: 0px; /* Increase padding for better spacing */
  }
  
  /* Label Styles */
  label {
    color: aqua;
    font-size: small;
    width: 30%;
    text-align: center;
  }
  
  /* Heading Styles */
  h2, h3 {
    color: white;
    font-size: medium;
  }
  
  /* Landing Page Styles */
  .landpage {
    background-image: url("/static/images/bgif.gif");
    background-color: rgba(0, 128, 128, 0.212); /* Fallback background color */
    text-align: center;
    padding: 0%;
    background-position: center;
    background-size: contain;
  }
  
  .landpage h1 {
    color: orangered;
  }
  
  .landpage h2 {
    color: aqua;
  }
  
  
  /* Header Logo Styles */
  #headerlogo {
    width: 50px;
    height: 50px;
  }
  
  /* Info Div Styles */
  .infodiv {
    padding: 10px; /* Increase padding for better spacing */
    color: white;
    border: 1px solid aqua;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  /* Footer Styles */
  .footer {
    color: white;
    background-color: rgba(0, 128, 128, 0.11);
    border-top: 5px solid aqua;
    margin-top: 5%;
    text-align: center;
  }
  
  /* Form Div Styles */
  .formdiv {
    text-align: left;
    color: aqua;
    margin: 0 auto; /* Center align horizontally */
    max-width: 80%; /* Limit maximum width */
  }
  .formdiv input{
    width: 100%;
  }

  .formdiv textarea{
    width: 100%;
    height: 100px;
  }
  
  
  
  /* Icon Card Styles */
  .icon-card {
    text-align: center;
    font-size: small;
    margin-left: 22%;
    text-align: left;
  }
  
  .icon-card img {
    max-width: 30px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .icon-card2{
    max-width: 30px;
    text-align: center;
  }

  .icon-card2 img{
    max-width: 20px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid 1px aqua;
  }

  .git-card{
    display: flex;
    justify-content: center;
  }

  .git-card img{
    max-width: 30px;
    height: auto;
    border-radius: 5px;
  }


  .socials-grid {
    display: flex-box;
    grid-gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
 .socials-grid card{
  margin: 4px;
  display: flex;
  flex-direction: column;
  font-size: small;
  text-align: center;
 }
  .socials-grid img{
    max-width: 50px;
    border: solid aqua 1px;
    padding: 1px;
    align-self: center;
    border-radius: 5px;
  }
  /* Responsive Layout */
  @media (min-width: 768px) {
    body {
      font-size: medium;
    }
  
    .formdiv {
      max-width: 100%; /* Adjust maximum width for larger screens */
    }
    h2, h3 {
      color: white;
      font-size: larger;
    }
    .icon-card2 img{
      max-width: 40px;
    }
    .landpage{
      height: auto;
    }
  }
  