.slidebox{
    position: relative;
    display: flex;
    justify-content: safe;
    background-color: rgba(0, 128, 128, 0.171);
    width: 100%;
    height: 100px;
}
.mySlides{
    background-color: rgba(255, 255, 255, 0.363);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.text{
    overflow: wrap;
}
.display-left{
    background-color: rgba(0, 128, 128, 0.075);
    color: white;
    border: none;
    left: 0;
}
.display-right{
    background-color: rgba(0, 128, 128, 0.075);
    color: white;
    border: none;
    right: 0;
}
