{% extends "index.html" %}

{% block title %}Deni- about{% endblock %}

{% block content %}
<div class="column" style="background-color:rgb(1, 32, 32);">
    <h2 style="background-color: rgb(1, 32, 32);">A Short Story</h2>
    <div class="container2" style="background-color:rgb(1, 32, 32);"> 
        <div class="column-left">
            <p>
                <img src="{{url_for('static', filename='/images/king.png')}}" style="max-width: 400px;">
            </p>
        </div>
        <div class="column-right" style="text-align: justify;">
            <p>
                "Hello, my name is D.K Githinji. I am an engineering student based in Kenya, currently pursuing an undergraduate course in Electrical and Electronic Engineering. 
                This journey has been not only exciting but also fulfilling. Every day, I wake up with a hungry mind for knowledge and exploration. 
                One such path has led me into computers and programming. My interest in computers began during my childhood when I was introduced to those ancient (by now) phones with keypads and green screens. 
                I always wondered how they worked, and my imagination did not stop at that. I remember playing "Space Invaders" and wishing I knew how to make one. 
                Ten years later, I was writing my "Hello World!" program in Python on my cousin's laptop. This was after I completed my high school program and found myself with too much time to be idle. 
                How I got there, I don't remember. Since then, I have worked on several hobby projects and continue to come up with more ideas. 
                This has helped me develop my skills, and I am positive about my path and working towards my dreams."
            </p>
        </div>
    </div>
</div>
{% endblock %}
